#userTestimoni .carousel .item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 550px;
}

@media (min-width: 700px) {
	#userTestimoni .carousel {
		width: 650px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	#userTestimoni .carousel .item {
		min-height: 340px;
	}
}

#userTestimoni .carousel .item a {
	color: #eb7245;
}

#userTestimoni .carousel .img-box {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	border-radius: 50%;
}

#userTestimoni .carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

#userTestimoni .carousel .testimonial {
	padding: 30px 0 10px;
}

#userTestimoni .carousel .overview {
	text-align: center;
	padding-bottom: 5px;
}

#userTestimoni .carousel .overview b {
	color: #333;
	font-size: 15px;
	text-transform: uppercase;
	display: block;
	padding-bottom: 5px;
}

#userTestimoni .carousel .star-rating i {
	font-size: 18px;
	color: #ffdc12;
}

#userTestimoni .carousel .carousel-control {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #999;
	text-shadow: none;
	top: 4px;
}

#userTestimoni .carousel-control i {
	font-size: 20px;
	margin-right: 2px;
}

#userTestimoni .carousel-control.left {
	left: auto;
	right: 40px;
}

#userTestimoni .carousel-control.right i {
	margin-right: -2px;
}

#userTestimoni .carousel .carousel-indicators {
	bottom: 15px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 11px;
	height: 11px;
	margin: 1px 5px;
	border-radius: 50%;
}

.carousel-indicators li {
	background: #e2e2e2;
	border-color: transparent;
}

.carousel-indicators li.active {
	border: none;
	background: #888;
}
